body{
    background: linear-gradient(90deg,rgb(15, 3, 56) 0%, rgb(1, 27, 82) 50%, rgb(83, 180, 237) 100%);
}
.parent :hover{
    background:linear-gradient(130deg, rgb(233, 233, 233) 0%, rgb(236, 236, 236) 51%);

}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 6px;
    margin: auto;
    width: 23%;
    height: 535px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    border: solid rgb(212, 212, 212);
    font-family: Arial, Helvetica, sans-serif;

}
    
.displayChico{
    height: 12px;
}
.div1 {
    grid-column: span 4 / span 4;
    background-color: white;
    font-size:small;

}

.div2 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
    background-color: white;
    font-weight: bold;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    background-color: white;
    text-align: end;

}

.div4 {
    grid-row-start: 5;
    background-color: white;
}

.div5 {
    grid-row-start: 5;
    background-color: white;
}

.div6 {
    grid-row-start: 5;
    background-color: white;
}

.div7 {
    grid-row-start: 5;
    background-color: white;
}

.div8 {
    grid-row-start: 6;
    background-color: white;
}

.div9 {
    grid-row-start: 6;
      background-color: white;
}

.div10 {
    grid-row-start: 6;
    background-color: white;
}

.div11 {
    grid-row-start: 6;
    background-color: white;
}

.div12 {
    grid-row-start: 7;
    background-color: white;
}

.div13 {
    grid-row-start: 7;
    background-color: white;
}

.div14 {
    grid-row-start: 7;
    background-color: white;
}

.div15 {
    grid-row-start: 7;
    background-color: white;
}

.div16 {
    grid-row-start: 8;
    background-color: white;
}

.div17 {
    grid-row-start: 8;
    background-color: white;
}

.div18 {
    grid-row-start: 8;
    background-color: white;
}

.div19 {
    grid-row-start: 8;
    background-color: white;
}

.div20 {
    grid-row-start: 9;
    background-color: white;
}

.div21 {
    grid-row-start: 9;
    background-color: white;
}

.div22 {
    grid-row-start: 9;
    background-color: white;
}

.div23 {
    grid-row-start: 9;
    background-color: white;
}

.div24 {
    grid-row-start: 10;
    background-color: white;
}

.div25 {
    grid-row-start: 10;
    background-color: white;
}

.div26 {
    grid-row-start: 10;
    background-color: white;
}

.div27 {
    grid-row-start: 10;
    background-color: rgb(4, 99, 163);
    color: white;
    
}

/* From Uiverse.io by eslam-hany */ 
.card {
    position: relative;
    width: 220px;
    height: 320px;
    background: linear-gradient(90deg,rgb(9, 72, 109) 0%, rgb(0, 138, 180) 50%, rgb(83, 180, 237) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "CALCULÃ ALGO";
  }
  /* From Uiverse.io by Nawsome */ 
.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
  }
  
  .loadingspinner div {
    display: inline-block;
    background: rgb(0, 206, 189);
      /*background: var(--text-color);*/
      /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
  }
  
  .loadingspinner #square1 {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square2 {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square3 {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square4 {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square5 {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  @keyframes square1 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square2 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  }
  
  @keyframes square3 {
    0%,100% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square4 {
    0% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square5 {
    0% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes squarefadein {
    0% {
      transform: scale(0.75);
      opacity: 0.0;
    }
  
    100% {
      transform: scale(1.0);
      opacity: 1.0;
    }
  }
  
 /* From Uiverse.io by akshat-patel28 */ 
.card2 {
  width: 280px;
  height: 150px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position:relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.card2:hover {
  box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
}

.time-text {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

.day-text {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}

.card2:hover > .moon {
  font-size: 23px;
}
 